services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --proxy-headers
    restart: always
    ports:
      - "8000:8000"
    environment:
      - ALLOWED_ORIGINS=https://quant.matheusrocha.cloud
      - PYTHONPATH=/app
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=https://quant.matheusrocha.cloud/api