@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    margin: 0mm; 
    size: landscape;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: #0f172a !important; 
  }

  .no-print, 
  button,
  footer,
  ::-webkit-scrollbar {
    display: none !important;
  }

  .print-header-container {
    display: flex !important;
    width: 100%;
    background-color: white !important; 
    color: black !important; 
    padding: 15px 30px;
    border-bottom: 4px solid #2563eb;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .min-h-screen {
    height: auto !important;
    overflow: visible !important;
  }
}

.print-header-container {
  display: none;
}